@import url(//fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b);

html {
  min-width: 1040px;
}

h1 {
    font: 40px sans-serif;
    text-align: center;
}

#chart {
  margin-left: -40px;
  height: 506px;
}

text {
  font: 10px sans-serif;
}

.hidden {
    display: none;
}

.dot {
  stroke: #000;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.label {
  fill: #777;
}

.year.label {
  font: 500 300px "Helvetica Neue";
  fill: #ddd;
}

.country.label {
  font: 500 40px "Helvetica Neue";
  fill: #222;
}

.year.label.active {
  fill: #aaa;
}

.overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}

#chart .y-axis-label, #chart .x-axis-label {
    font-size: 1.4em;
    stroke: #1C454C;
    fill: #1C454C;
}

#chart .labels .label {
    fill:black;
    font-size: 1.0em;
}

line.world-markets {
    stroke: #8B2216;
    stroke-dasharray: 5;
}

#chart button {
    border: none;
}

#chart #button-group {
    text-align: left;
    margin-left: 45px;
}
